{% extends 'RUser/Header.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style4 {color: #FFFF00; font-weight: bold; }
.style6 {
	font-size: 24px;
	color: #FFFF00;
	font-weight: bold;
}
        .style7 {color: #FFFF00}
        .style8 {font-size: 24px}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                  <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1 style8">Detection Of Fraud in Banking !!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="1023" align="center">
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center" class="style4">ENTER DATASET DETAILS HERE !!! </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Customer_ID</span></div></td>
                                    <td><input type="text" name="CID"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Customer_Name</span></div></td>
                                    <td><input type="text" name="CName"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Gender</span></div></td>
                                    <td><select name="Gen">
                                      <option>--- Select ---</option>
                                      <option>Male</option>
                                      <option>Female</option>
                                    </select>                                    </td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter Age</strong></span><span class="style4"></span></div></td>
                                    <td><input type="text" name="Age"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">State</span></div></td>
                                    <td><input type="text" name="State"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">City</span></div></td>
                                    <td><input type="text" name="City"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Bank_Branch</span></div></td>
                                    <td><input type="text" name="BB"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Account_Type</span></div></td>
                                    <td><input type="text" name="AT"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Transaction_ID </span></div></td>
                                    <td><input type="text" name="TID"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter Transaction_Date</strong></span></div></td>
                                    <td><input type="text" name="TDate"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Transaction_Time</span></div></td>
                                    <td><input type="text" name="TTime"></td>
                                    <td bgcolor="#FF0000"><div align="center"><span class="style7 style2 style4"><strong>Enter</strong></span> <span class="style4">Transaction_Amount</span></div></td>
                                    <td><input type="text" name="TAmount"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Merchant_ID</div></td>
                                    <td><input type="text" name="MID"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Transaction_Type</div></td>
                                    <td><input type="text" name="TType"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Merchant_Category</div></td>
                                    <td><input type="text" name="MCat"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Account_Balance</div></td>
                                    <td><input type="text" name="ABal"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Transaction_Device</div></td>
                                    <td><input type="text" name="TDevice"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Transaction_Location</div></td>
                                    <td><input type="text" name="TLoc"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4"><span class="style2 style7">Enter</span> Transaction_Currency</div></td>
                                    <td><input type="text" name="TCur"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4"><span class="style2 style7">Enter</span> Transaction_Description</div></td>
                                    <td><input type="text" name="TDesc"></td>
                                  </tr>
                                  <tr>
                                    <td width="289" height="44" bgcolor="#FF0000">&nbsp;</td>
                                    <td width="209">&nbsp;</td>
                                    <td width="331"><input name="submit" type="submit" class="style1" value="Predict"></td>
                                    <td width="174">&nbsp;</td>
                                  </tr>
                                </table>
					 </fieldset>
				  </form>


 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="773" height="75" border="0" align="center" >
                                    <tr><td width="528" bgcolor="#FF0000"><div align="center"><span class="style6">Detection Of Fraud in Banking</span> <span class="style4">::</span> </div></td>



                                      <td width="395" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{objs}}</div></td></tr>
                      </table>



                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>